@model FlowerShop.Models.Flower

@{
    ViewData["Title"] = "InsertForm";
}

<h1>InsertForm</h1>

<h4>Flower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlowerName" class="control-label"></label>
                <input asp-for="FlowerName" class="form-control" />
                <span asp-validation-for="FlowerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerType" class="control-label"></label>
                <input asp-for="FlowerType" class="form-control" />
                <span asp-validation-for="FlowerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerDescription" class="control-label"></label>
                <input asp-for="FlowerDescription" class="form-control" />
                <span asp-validation-for="FlowerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowerPrice" class="control-label"></label>
                <input asp-for="FlowerPrice" class="form-control" />
                <span asp-validation-for="FlowerPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
